<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kurami32.filebrowserq_wrapper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- For legacy external storage; maxSdkVersion is for don't prompt this permissions on android 10+ -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <!-- This was just in case if the app couldn't download/upload files, but I see that can without them, I'll let them here anyways-->
    <!-- <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" /> -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- For let audio play on the background -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- The same but for Android 13+ -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <application
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FileBrowserQuantum"
        android:usesCleartextTraffic="true"
        tools:targetApi="31"
        tools:ignore="UnusedAttribute">

        <activity
            android:hardwareAccelerated="true"
            android:name="com.kurami32.filebrowserq_wrapper.SetupActivity"
            android:exported="true"
            android:label="@string/setup_title"
            android:theme="@style/Theme.FileBrowserQuantum">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:hardwareAccelerated="true"
            android:name="com.kurami32.filebrowserq_wrapper.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true"
            android:theme="@style/Theme.FileBrowserQuantum" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.kurami32.filebrowserq_wrapper.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name="com.kurami32.filebrowserq_wrapper.DownloadReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
